<html xmlns="http://www.w3.org/1999/xhtml">

<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>放学了</title>
        <link rel="stylesheet" type="text/css" href="Assets/css/reset.css" />
        <script type="text/javascript" src="Assets/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="Assets/js/js_z.js"></script>
        <link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
        <style>
                .equipment ul li a {
                        height: auto;
                }

                #newslist li {
                        width: 320px;
                        height: 390px;
                        overflow: hidden;
                }

                #newslist li .name,
                #newslist li .des {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap
                }

                #newslis img {
                        width: 320px;
                        height: 285px;
                }
        </style>
</head>

<body>
        <div class="top_bg">
                <div class="top">
                        <% if(typeof username==='undefined'){ %>
                        <a href="/login">
                                <em>登录</em>
                        </a>
                        <a href="/login">
                                <em>注册</em>
                        </a>
                        <% } else{%>
                        <a><%=username %></a>
                        <% }%>
                </div>
        </div>
        <div class="head clearfix">
                <div class="logo"><a href="/"><img src="Assets/images/logo.png" alt="" /></a></div>
                <ul class="nav clearfix">
                        <li>
                                <a href="/">
                                        首页
                                        <p>HOME</p>
                                </a>
                        </li>
                        <li>
                                <a href="/product">
                                        展示自我
                                        <p>SHOW</p>
                                </a>
                        </li>
                        <li>
                                <a href="/newslist">
                                        新闻动态
                                        <p>NEWS</p>
                                </a>
                        </li>
                        <li>
                                <a href="/fun">
                                        益智趣味
                                        <p>FUN</p>
                                </a>
                        </li>
                        <li>
                                <a href="/book">
                                        推荐书籍
                                        <p>BOOKS</p>
                                </a>
                        </li>
                </ul>
        </div>
        <!--幻灯片-->
        <div class="banner banner_s"><img src="Assets/upload/banner_d.jpg" alt="" /></div>
        <!--幻灯片-->
        <!--主体盒子-->
        <div class="scd_bg">
                <div class="scd">
                        <div class="pst">
                                您现在的位置：
                                <a href="/">首页</a>>
                                <a href="/book">推荐书籍</a>
                        </div>
                        <div class="equipment" id="newslist">
                                <ul class="clearfix">
                                        <li>
                                                <a target="_blank" href="/book/detail#安徒生童话">
                                                        <img src="/书籍素材.files/image001.jpg">
                                                        <div class="ctn">
                                                                <div class="name">安徒生童话</div>
                                                        </div>
                                                </a>
                                        </li>
                                        <li>
                                                <a target="_blank" href="/book/detail#千家诗">
                                                        <img src="/书籍素材.files/image002.jpg">
                                                        <div class="ctn">
                                                                <div class="name">千家诗</div>
                                                        </div>
                                                </a>
                                        </li>
                                        <li>
                                                <a target="_blank" href="/book/detail#亲爱的汉修先生">
                                                        <img src="/书籍素材.files/image003.jpg">
                                                        <div class="ctn">
                                                                <div class="name">亲爱的汉修先生</div>
                                                        </div>
                                                </a>
                                        </li>
                                        <li>
                                                <a target="_blank" href="/book/detail#城南旧事">
                                                        <img src="/书籍素材.files/image004.jpg">
                                                        <div class="ctn">
                                                                <div class="name">城南旧事</div>
                                                        </div>
                                                </a>
                                        </li>
                                        <li>
                                                <a target="_blank" href="/book/detail#草房子">
                                                        <img src="/书籍素材.files/image005.jpg">
                                                        <div class="ctn">
                                                                <div class="name">草房子</div>
                                                        </div>
                                                </a>
                                        </li>
                                        <li>
                                                <a target="_blank" href="/book/detail#我的妈妈是精灵">
                                                        <img src="/书籍素材.files/image006.jpg">
                                                        <div class="ctn">
                                                                <div class="name">我的妈妈是精灵</div>
                                                        </div>
                                                </a>
                                        </li>
                                        <li>
                                                <a target="_blank" href="/book/detail#疯丫头杜真子">
                                                        <img src="/书籍素材.files/image007.jpg">
                                                        <div class="ctn">
                                                                <div class="name">疯丫头杜真子</div>
                                                        </div>
                                                </a>
                                        </li>
                                </ul>
                                <div class="space_hx">&nbsp;</div>
                        </div>
                </div>
        </div>
        <!--主体盒子-->
        <!--底部-->
        <!--底部-->
</body>

</html>