<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>放学了</title>
    <link rel="stylesheet" type="text/css" href="Assets/css/reset.css" />
    <script type="text/javascript" src="Assets/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="Assets/js/js_z.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.all.js"></script>
    <link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
    <style>
        .layui-table{
            width: 70%;
            margin:  0 auto;
        }
    </style>
    <script>
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer
                , form = layui.form;
        });
    </script>
</head>

<body>
    <div class="top_bg">
        <div class="top">
            <% if(typeof username==='undefined'){ %>
            <a href="/login">
                <em>登录</em>
            </a>
            <a href="/login">
                <em>注册</em>
            </a>
            <% } else{%>
            <a><%=username %></a>
            <a class="logout"> 退出登录</a>
            <% }%>
        </div>
    </div>
    <div class="head clearfix">
        <div class="logo"><a href="/"><img src="Assets/images/logo.png" alt="" /></a></div>
        <ul class="nav clearfix">
            <li>
                <a href="/">
                    首页
                    <p>HOME</p>
                </a>
            </li>
            <li>
                <a href="/product">
                    展示自我
                    <p>SHOW</p>
                </a>
            </li>
            <li>
                <a href="/newslist">
                    新闻动态
                    <p>NEWS</p>
                </a>
            </li>
            <li>
                <a href="/fun">
                    益智趣味
                    <p>FUN</p>
                </a>
            </li>
            <li>
                <a href="/book">
                    推荐书籍
                    <p>BOOKS</p>
                </a>
            </li>
        </ul>
    </div>
    <!--主体盒子-->
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>游戏</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="20%"><a target="_blank" rel="nofollow"
                        href="http://www.4399.com/">4399小游戏</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.doyo.cn/">逗游</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.7k7k.com/">7k7k小游戏</a></td>
                <td width="20%"><a target="_blank" rel="nofollow"
                        href="http://daodanzhu.gamedog.cn/">捣蛋猪</a></td>
                <td><a target="_blank" rel="nofollow" href="http://www.utovr.com/">VR视频</a></td>
            </tr>
        </tbody>
    </table>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>视频</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="20%"><a target="_blank" rel="nofollow"
                        href="http://tv.sohu.com/?txid=1946be12ca182ba8107a42119010c9b0">搜狐视频</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://v.qq.com/?ptag=2345.movie">腾讯视频</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.le.com/">乐视网</a></td>
                <td width="20%"><a target="_blank" rel="nofollow"
                        href="http://www.contentchina.com/zhibo/meinv/">美女视频</a></td>
                <td><a target="_blank" rel="nofollow" href="http://www.utovr.com/">VR视频</a></td>
            </tr>
            <tr>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.iqiyi.com/?vfm=2002_2345f">爱奇艺</a>
                </td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.youku.com/">优酷网</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.contentchina.com/zhibo/">真人秀场</a>
                </td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.tudou.com/">土豆网</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.fun.tv/">风行网</a></td>
            </tr>
            <tr>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.1905.com/">1905电影网</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.56.com/">56网</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://v.ifeng.com/">凤凰视频</a></td>
                <td><a target="_blank" rel="nofollow" href="http://www.hotcast.cn/">VR热播</a></td>
                <td><a target="_blank" rel="nofollow" href="http://www.verycd.com/">VeryCD</a></td>
            </tr>
            <tr>
                <td><a target="_blank" rel="nofollow" href="http://www.baomihua.com/">爆米花视频</a></td>
                <td><a target="_blank" rel="nofollow" href="http://cctv.cntv.cn/">央视网</a></td>
                <td><a target="_blank" rel="nofollow" href="http://www.wasu.cn/">华数TV</a></td>
                <td><a target="_blank" rel="nofollow" href="http://www.ku6.com/">酷6网</a></td>
                <td><a target="_blank" rel="nofollow" href="http://video.caixin.com/">财经视频</a></td>
            </tr>
            <tr>
                <td><a target="_blank" rel="nofollow" href="http://www.v1.cn/">第一视频</a></td>
                <td><a target="_blank" rel="nofollow" href="http://www.mgtv.com/">芒果TV</a></td>
                <td><a target="_blank" rel="nofollow" href="http://xiyou.cntv.cn/">爱西柚视频</a></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>电影</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="20%"><a target="_blank" rel="nofollow"
                        href="http://tv.sohu.com/movie/?txid=1946be12ca182ba8107a42119010c9b0">搜狐电影</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://v.qq.com/movie/?ptag=2345.movie">腾讯电影</a>
                </td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://movie.pptv.com/">PP电影</a></td>
                <td width="20%"><a target="_blank" href="//dianying.2345.com/mingxing/">明星</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://movie.wasu.cn/">华数电影</a></td>
            </tr>
            <tr>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://movie.youku.com/">优酷电影</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://movie.tudou.com/">土豆电影</a></td>
                <td width="20%"><a target="_blank" rel="nofollow"
                        href="http://www.iqiyi.com/dianying/?vfm=2002_2345f">爱奇艺电影</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://movie.le.com/">乐视电影</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.1905.com/vod/">1905电影网</a></td>
            </tr>
            <tr>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://video.sina.com.cn/movie/movie/">新浪大片</a>
                </td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://www.fun.tv/movie/">风行电影</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://cinema.ku6.com/">酷6剧场</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://movielist.56.com/">56网电影</a></td>
                <td width="20%"><a target="_blank" rel="nofollow" href="http://dianying.cntv.cn/">央视网电影</a></td>
            </tr>
        </tbody>
    </table>
    <script>
    </script>
</body>

</html>