<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="Assets/js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.all.js"></script>
    <title>登录</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        ul,
        li,
        ol {
            list-style: none
        }

        .bg {
            width: 100vw;
            height: 100vh;
            background-image: url(/Assets/images/login_bg.jpg);
            background-repeat: round;
            background-size: 100% 100%;
        }

        .wrap {
            width: 765px;
            height: 374px;
            background-color: hsla(0, 0%, 100%, .3);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }

        .wrap .left li {
            background-color: hsla(0, 0%, 100%, .3);
            height: 187px;
            width: 80px;
            text-align: center;
            cursor: pointer;
            line-height: 187px;
        }

        .wrap .left li.active,
        .wrap .left li:hover {
            background-color: rgba(0, 0, 0, 0.3)
        }

        .left,
        .right {
            float: left;
        }

        .right {
            padding: 90px;
        }

        .layui-form-item .layui-input-inline {
            width: 400px;
        }

        #loginForm .layui-form-item,
        #registerForm .layui-form-item {
            margin: 34px auto;
        }

        .right .layui-form {
            display: none
        }

        .right .layui-form.active {
            display: block;
        }
    </style>
</head>

<body>
    <div class="bg">
        <div class="wrap">
            <ul class="left">
                <li onclick="toggleForm('login')" class="login active">登录</li>
                <li onclick="toggleForm('register')" class="register">注册</li>
            </ul>
            <div class="right">
                <form class="layui-form login active" id="loginForm">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" placeholder="用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux" id="nameTip"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码框</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" placeholder="请输入密码" autocomplete="off"
                                class="layui-input">
                        </div>
                        <!-- <div class="layui-form-mid layui-word-aux" id="pswTip"></div> -->
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <span class="layui-btn" id="login">登录</span>
                            <span type="reset" class="layui-btn layui-btn-primary">重置</span>
                        </div>
                    </div>
                </form>
                <form class="layui-form register" id="registerForm">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" placeholder="用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux" id="nameTip"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码框</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" placeholder="请输入密码" autocomplete="off"
                                class="layui-input">
                        </div>
                        <!-- <div class="layui-form-mid layui-word-aux" id="pswTip"></div> -->
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <span class="layui-btn" id="register">注册</span>
                            <span type="reset" class="layui-btn layui-btn-primary">重置</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('#login').on('click', function () {
            let username = $('#loginForm [name="username"]').val();
            let password = $('#loginForm [name="password"]').val();
            login(username, password)
        });
        $('#register').on('click', function () {
            let username = $('#registerForm [name="username"]').val();
            let password = $('#registerForm [name="password"]').val();
            register(username, password)
        })
        function toggleForm(key) {
            if (key == 'login') {
                $('.register').removeClass('active')
                $('.login').addClass('active')
            } else {
                $('.login').removeClass('active')
                $('.register').addClass('active')
            }
        }
        function login(username, password) {
            $.ajax({
                url: '/login/login',
                type: 'post',
                data: { username, password },
                success(res) {
                    if (res.code === 200) {
                        //登陆成功
                        location.href = '/'
                    }
                    else {
                        layer.open({
                            title: '登录失败',
                            content: res.msg,
                            offset: '400px',
                            time: 1500
                        });
                    }
                }
            })
        }
        function register(username, password) {            
            $.ajax({
                url: '/login/register',
                type: 'post',
                data: { username, password },
                success(res) {
                    if (res.code === 200) {
                        //注册成功
                        layer.open({
                            title: '提示',
                            content: res.msg,
                            offset: '400px',
                            time: 1500
                        });
                    }
                    else {
                        layer.open({
                            title: '注册失败',
                            content: res.msg,
                            offset: '400px',
                            time: 1500
                        });
                    }
                }
            })
        }
        $(document).on('keyup','#loginForm [name="password"]',function(event){
            if (event.keyCode == "13") {
                let username = $('#loginForm [name="username"]').val();
                let password = $('#loginForm [name="password"]').val();
                login(username,password)
            }
        });
        $(document).on('keyup','#registerForm [name="password"]',function(event){
            if (event.keyCode == "13") {
                let username = $('#registerForm [name="username"]').val();
                let password = $('#registerForm [name="password"]').val();
                register(username,password)
            }
        })
    </script>
</body>

</html>