<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        ul,li,ol{list-style: none}
        .bg {
            width: 100vw;
            height: 100vh;
            background-image: url(https://me.nnnnzs.cn/static/img/login_bg.4462c24.jpg);
            background-repeat: round;
            background-size: 100% 100%;
        }
        
        .wrap {
            width: 765px;
            height: 374px;
            background-color: hsla(0, 0%, 100%, .3);
            position:absolute;
            left:0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }

        .wrap .left li {
            background-color: hsla(0, 0%, 100%, .3);
            height:187px;
            width: 80px;
            text-align: center;
            cursor: pointer;
        }
        .wrap .left li:hover{
            background-color:rgba(0, 0, 0, 0.3)
        }
    </style>
</head>

<body>
    <div class="bg">
        <div class="wrap">
            <ul class="left">
                <li>登录</li>
                <li>注册</li>
            </ul>
            <div class="right"></div>
        </div>
    </div>
</body>

</html>