<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>放学了</title>
    <link rel="stylesheet" type="text/css" href="Assets/css/reset.css" />
    <script type="text/javascript" src="Assets/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="Assets/js/js_z.js"></script>
    <link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
    <style>
        .equipment ul li a {
            height: auto;
        }

        #newslist li {
            width: 320px;
            height: 390px;
            overflow: hidden;
        }

        #newslist li .name,
        #newslist li .des {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }

        #newslis img {
            width: 320px;
            height: 285px;
        }
    </style>
</head>

<body>
    <div class="top_bg">
        <div class="top">
            <% if(typeof username==='undefined'){ %>
            <a href="/login">
                <em>登录</em>
            </a>
            <a href="/login">
                <em>注册</em>
            </a>
            <% } else{%>
            <a><%=username %></a>
            <% }%>
        </div>
    </div>
    <div class="head clearfix">
        <div class="logo"><a href="/"><img src="Assets/images/logo.png" alt="" /></a></div>
        <ul class="nav clearfix">
            <li>
                <a href="/">
                    首页
                    <p>HOME</p>
                </a>
            </li>
            <li>
                <a href="/product">
                    展示自我
                    <p>SHOW</p>
                </a>
            </li>
            <li>
                <a href="/newslist">
                    新闻动态
                    <p>NEWS</p>
                </a>
            </li>
            <li>
                <a href="/fun">
                    益智趣味
                    <p>FUN</p>
                </a>
            </li>
            <li>
                <a href="/book">
                    推荐书籍
                    <p>BOOKS</p>
                </a>
            </li>
        </ul>
    </div>
    <!--幻灯片-->
    <div class="banner banner_s"><img src="Assets/upload/banner_d.jpg" alt="" /></div>
    <!--幻灯片-->
    <!--主体盒子-->
    <div class="scd_bg">
        <div class="scd">
            <div class="pst">
                您现在的位置：
                <a href="/">首页</a>>
                <a href="/product">新闻动态</a>
            </div>
            <div class="equipment" id="newslist">
                <ul class="clearfix">
                    <li>
                        <a target="_blank" href="/news/1.html">
                            <img src="/news/img/1-1.jpg">
                            <div class="ctn">
                                <div class="name">赞！西安7名中学生提案送至全国两会 话题和亿万中小学生有关~</div>
                                <div class="des">
                                    “无穷的远方，都与我们有关。”当今的学校教育，早已告别“两耳不闻窗外事，一心只读圣贤书”的时代，青年学子们纷纷走出校门，通过各种方式为社会发展建言献策。</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/news/2.html">
                            <img src="/news/img/2-1.jpg">
                            <div class="ctn">
                                <div class="name">学生参加中小学生个人艺术展演比赛活动表现优秀</div>
                                <div class="des">
                                    近日，由七台河市教育局主办，七台河市第六小学承办的全市中小学生个人艺术展演比赛活动，是展现各校素质教育成果的盛会，又是集多种形式于一体的综合性文化大餐。</div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/news/3.html">
                            <img src="/news/img/3-1.jpg">
                            <div class="ctn">
                                <div class="name">小学生采访中小学校长 关注社会热点事件</div>
                                <div class="des">
                                    这几天，正值全国“两会”召开之际，为引导在校中小学生关心国家大事，关注社会热点，培养社会责任感。丰台区学校的小记者们开始了他们的校园校长专访。他们戴着红领巾，手拿照相机，人手一本笔记本，稚嫩的脸上洋溢着自信的笑容。小记者们究竟关注哪些两会热点话题？又会碰撞出怎样的火花呢？让我们来直击现场。
                                </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/news/4.html">
                            <img src="/news/img/4-1.jpg">
                            <div class="ctn">
                                <div class="name">小学生作文《漂亮的老师》,成功将老师惹火，家长看后却笑抽</div>
                                <div class="des">
                                    我们都来自我们的学生时代，所以我们小时候也做同样的事情。特别是在小学，对于学习好的学生来说，他们的童年可能非常美好，但是对于一些不喜欢学习的学生来说，小学阶段已经成为他们噩梦的开始。
                                </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/news/5.html">
                            <img src="/news/img/5-1.jpg">
                            <div class="ctn">
                                <div class="name">小学生的奇葩假条，为不上学想尽妙招，各种请假理由让人啼笑皆非</div>
                                <div class="des">
                                    小学生一个天真可爱的群体，他们写的假条也是一样的天真可爱，一看就是假的，但没成想老师居然信了，你信吗？小编经常在网上看到一些关于小学生写请假条的段子，看起来都非常的笑掉大牙，但是仔细一推销这些段子都是成人编写的，
                                </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="/news/6.html">
                            <img src="/news/img/6-1.jpg">
                            <div class="ctn">
                                <div class="name">甘肃公安厅回应小学生疑在校被打下体受伤：相关部门正调查</div>
                                <div class="des">1月14日下午，甘肃省公安厅官微发布微博：“感谢广大网民，你们关注的庆阳宁县小女孩被伤害一案，目前涉事地有关部门正在调查处置中。”</div>
                        </a>
                    </li>
                </ul>
                <div class="space_hx">&nbsp;</div>
            </div>
        </div>
    </div>
    <!--主体盒子-->
    <!--底部-->
    <!--底部-->
</body>

</html>