<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>放学了</title>
    <link rel="stylesheet" type="text/css" href="Assets/css/reset.css" />
    <script type="text/javascript" src="Assets/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="Assets/js/js_z.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.all.js"></script>
    <link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
    <script>
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer
                , form = layui.form;
        });
    </script>
</head>

<body>
    <div class="top_bg">
        <div class="top">
            <% if(typeof username==='undefined'){ %>
            <a href="/login">
                <em>登录</em>
            </a>
            <a href="/login">
                <em>注册</em>
            </a>
            <% } else{%>
            <a><%=username %></a>
            <% }%>
        </div>
    </div>
    <div class="head clearfix">
        <div class="logo"><a href="/"><img src="Assets/images/logo.png" alt="" /></a></div>
        <ul class="nav clearfix">
            <li>
                <a href="/">
                    首页
                    <p>HOME</p>
                </a>
            </li>
            <li>
                <a href="/product">
                    展示自我
                    <p>SHOW</p>
                </a>
            </li>
            <li>
                <a href="/newslist">
                    新闻动态
                    <p>NEWS</p>
                </a>
            </li>
            <li>
                <a href="/fun">
                    益智趣味
                    <p>FUN</p>
                </a>
            </li>
            <li>
                <a href="/book">
                    推荐书籍
                    <p>BOOKS</p>
                </a>
            </li>
        </ul>
    </div>
    <!--幻灯片-->
    <div class="banner banner_s"><img src="Assets/upload/banner_d.jpg" alt="" /></div>
    <!--幻灯片-->
    <!--主体盒子-->
    <div class="scd_bg">
        <div class="scd">
            <div class="pst">
                您现在的位置：
                <a href="/">首页</a>>
                <a href="/product">学生作品</a>
            </div>
            <div class="s_name p_name">
                <a id="upload" class="on">上传</a>
                <a href="">评论</a></div>
            <div class="equipment">
                <ul class="clearfix">
                    <% works.forEach(function(item){%>
                    <li>
                        <a href="">
                            <img src="<%=item.imgSrc %>">
                            <div class="ctn">
                                <div class="name"><%=item.author %>作品</div>
                                <div class="des">主题:<%=item.describe %></div>
                            </div>
                        </a>
                    </li>
                    <% }) %>
                </ul>
                <div class="space_hx">&nbsp;</div>
            </div>
        </div>
        <div id="page"></div>
    </div>

    <script>
        layui.use('laypage', function () {
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
                count: 30 //数据总数，从服务端得到
            });
        });
        var form = ``
        $('#upload').on('click', function () {
            $.ajax({
                url: '/api/islogin',
                type: 'get',
                success(res) {
                    if (res === '1') {
                        layer.open({
                            title: '上传'
                        })
                    } else {
                        layer.open({
                            title: '上传失败'
                            , content: '请先登录'
                        });
                    }

                },
                error(err) {
                }
            })

        })
        function send() {
            var formData = new FormData();
            formData.append("name", $('#data')[0].files[0]);
            $.ajax({
                url: '/api/rel',
                method: 'post',
                data: { inputFile: formData }
            }).then(res => {
                console.log(res)
            }).catch(err => {
                console.log(err)
            })
        }
        $('#send').on('click', send)
    </script>
</body>

</html>